/**
* a. Mixins
* b. Set Variables
* c. Keyframes
* 01. General + Global
*/

/* a. Mixins */
@mixin primarybtn {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  padding: 4px;
}

/* b. Set variables */
$mobilefontsize: 11px;
$primaryfontsize: 13px;
$primarycolor: #000;
$primaryletterspacing: 0.3rem;
$letterspacing: 0.08rem;

/* 01. General + Global */
.letterspace {
  letter-spacing: 0.08rem;
}
.small {
  font-size: 11px;
  font-weight: 400;
}

.large {
  font-size: 20px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
a {
  text-decoration: none;
  color: #000;
  font-size: $primaryfontsize;
  letter-spacing: $letterspacing;
}

button:focus {
  outline: 0;
}

html,
input,
textarea {
  font-family: "Source Code Pro", monospace;
}

input,
textarea,
label {
  letter-spacing: 0.08rem;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
}

li {
  list-style-type: none;
  font-size: 14px;
}

/* 02. Global */
p {
  font-size: $primaryfontsize;
  letter-spacing: 0.2rem;
  color: #333333;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
h1,
h4 {
  font-weight: 400;
}

h5,
h3 {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: $primaryletterspacing;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.center {
  text-align: center;
}

@media screen and (max-width: 576px) {
  h5 {
    font-size: 13px;
    letter-spacing: 0.08rem;
    line-height: 28px;
  }
  p {
    font-size: $mobilefontsize;
    color: #333333;
    letter-spacing: 0.08rem;
  }
  a {
    font-size: $mobilefontsize;
    letter-spacing: $letterspacing;
  }
}
